@page "/editrecipe/{RecipeId}"
@using ByteCuisine.Shared

<div class="editrecipe">
	<MyNavigation />
	<EditRecipe RecipeId="@RecipeId" />
</div>

@code {
	[Parameter]
	public string RecipeId { get; set; }
}