.login-page {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    background-image: url(/images/tlo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Quicksand-Semibold';
}

/* Teraz .login-side jest kontenerem dla obrazu */
.login-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login-side img {
        width: 100%;
        height: 100vh; /* Zapewnia, że obraz się skaluje */
    }

.login-container {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log-or-regi {
    display: flex;
    gap: 20px;
}

.login-brand img {
    max-width: 200px;
}

.login-form {
    width: 100%;
    max-width: 320px; /* Możesz dostosować szerokość formularza do swoich potrzeb */
}

.form-group {
    position: relative;
}

.material-symbols-outlined {
    position: absolute !important;
    left: 10px !important;
    top: 50% !important;
    transform: translateY(-95%) !important;
    pointer-events: none; /* Zapobiega kliknięciu na ikonę */
}

::deep input#email {
    padding-left: 40px !important;
    margin-bottom: 23px !important;
}

::deep input#username {
    padding-left: 40px !important;
    margin-bottom: 23px !important;
}

::deep input#password {
    padding-left: 40px !important;
    margin-bottom: 23px !important;
}


::deep .form-group input {
    width: 100% !important;
    padding: 10px 15px !important; /* Zwiększa padding dla input */
    font-size: 1rem !important;
    border: 1px solid #ccc !important; /* Dodaje obramowanie */
    border-radius: 4px !important; /* Dodaje zaokrąglone rogi */
}

.btn-login {
    background-color: #5DAB02; /* Zielony */
    color: white;
    width: 193px;
    height: 45px;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    margin-top: 1rem;
}

    .btn-login:hover {
        background-color: #3e8e41; /* Ściemniony kolor przycisku po najechaniu */
    }



.forgot-password, .login-or, .social-login {
    text-align: center;
    margin-top: 1rem;
}

/* Dodaj tutaj wszelkie inne style, których potrzebujesz */
.welcome {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

::deep h3 {
    font-size: 38px;
}

.login-form {
    width: 100%; /* Szerokość kontenera względem rodzica */
    max-width: 500px; /* Maksymalna szerokość kontenera */
    margin: 10px; /* Automatyczne marginesy dla centrowania poziomego */
    text-align: center; /* Centruje tekst, a tym samym elementy inline i inline-block wewnątrz */
    background: white;
    border-radius: 50px;
    padding: 50px;
}


a {
    color: #5DAB02; /* Kolor dla nieodwiedzonego linku */
    text-decoration: none;
}

    a:visited {
        color: #5DAB02; /* Kolor dla odwiedzonego linku */
    }

    a:hover {
        color: black; /* Kolor przy najechaniu myszką */
    }

    a:active {
        color: #5DAB02; /* Kolor dla aktywnego linku */
        
    }

.login-or {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1rem; /* Dostosuj, aby uzyskać pożądaną przestrzeń */
    margin-bottom: 1rem; /* Dostosuj, aby uzyskać pożądaną przestrzeń */
    color: #5DAB02;
}

    .login-or .line {
        flex: 1; /* Sprawia, że linie zajmują dostępną przestrzeń po bokach */
        height: 1px; /* Wysokość linii */
        background-color: #5DAB02; /* Kolor linii */
        margin: 0 10px; /* Odstęp między linią a tekstem */
    }

    .login-or span {
        white-space: nowrap; /* Zapobiega zawijaniu tekstu */
        padding: 0 10px; /* Odstęp od linii */
    }

.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #5DAB02; /* Corrected the border property */
    border-radius: 25px; /* Adjust as needed to match the pill-like shape */
    cursor: pointer;
    transition: background-color 0.3s;
}

    .social-btn img {
        margin-right: 8px; /* space between icon and text */
    }

/* Specific styles for Facebook button */
/* Container for social buttons to ensure they are in a row */
.social-btn-container {
    display: flex; /* Use flexbox to lay out children in a row */
    justify-content: center; /* Center the buttons in the container */
    gap: 10px; /* Space between the buttons */
}

.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #5DAB02; /* Text color */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #5DAB02; /* Solid border */
    border-radius: 25px; /* Pill-like shape */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 172px; /* Fixed width */
    height: 56px; /* Fixed height */
}

    .social-btn img {
        margin-right: 8px; /* Space between icon and text */
    }

/* Specific styles for Facebook button */
.btn-facebook {
    background-color: white; /* Facebook button background */
}

/* Specific styles for Google button */
.btn-google {
    background-color: white; /* Google button background */
}

/* Hover effects for both buttons */
.social-btn:hover {
    filter: brightness(85%);
}
