@font-face {
    font-family: 'Quicksand-Bold';
    src: url("../fonts/Quicksand-Bold.ttf");
}
@font-face {
    font-family: 'Quicksand-Light';
    src: url("../fonts/Quicksand-Light.ttf");
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url("../fonts/Quicksand-Medium.ttf");
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: 'Quicksand-Semibold';
    src: url("../fonts/Quicksand-SemiBold.ttf");
}


.linear-progress {
    background: silver;
    width: 50vw;
    margin: 5% auto;
    height: 1rem;
    border-radius: 10rem;
    overflow: hidden;
    position: relative;
}

    .linear-progress:after {
        content: '';
        position: absolute;
        inset: 0;
        background: #5DAB02;
        scale: var(--blazor-load-percentage, 0%) 100%;
        transform-origin: left top;
        transition: scale 4s ease-out;
    }
#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading_logo {
    display: block;
    margin-bottom: 20px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



