.showdata {
    padding: 50px;
}

.showdata h1 {
    color: #5DAB02;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Quicksand-Semibold';
}

.CSVData {
    padding: 50px;
}

    .CSVData h1 {
        color: #5DAB02;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        font-family: 'Quicksand-Semibold';
    }

.dishesCSV {
    margin: 50px 0px 50px 0px;
}

.usersDatabase, .dishesDatabase, .ingredientsDatabase {
    margin: 50px 0px 50px 0px;
}

hr {
    border: 5px solid #5DAB02;
    border-radius: 5px;
    width: 100%;
}
