@using ByteCuisine.Shared
@using ByteCuisine.Client.Services
@using System.Globalization
@using CsvHelper
@using CsvHelper.Configuration
@using System.Text
@inject IJSRuntime JSR
@inject HttpClient Http
@inject UserStateService UserState

<div class="showdata">
    <h1>Data In Database</h1>
    <div class="usersDatabase">
         <QuickGrid Items="users.AsQueryable()" Pagination="paginationAccount">
            <PropertyColumn TGridItem="Account" TProp="int" Property="u=>u.User_Id" />
            <PropertyColumn TGridItem="Account" TProp="string" Property="u=>u.Username" />
            <PropertyColumn TGridItem="Account" TProp="string" Property="u=>u.Role" />
            <TemplateColumn Context="u" Title="Image">
                @{
                    var base64Image = Convert.ToBase64String(u.PictureData);
                }
                <img class="UserPicture" src="data:image/png;base64,@base64Image" />
            </TemplateColumn>
        </QuickGrid>
        <Paginator Value="paginationAccount"/>
    </div>
    <button @onclick="ExportAccountsToCSV">Export To CSV</button>
    <hr />
    <div class ="dishesDatabase">
        <QuickGrid Items="dishes.AsQueryable()" Pagination="paginationDish">
            <PropertyColumn Property="d=>d.Dish_Id" />
            <PropertyColumn Property="d=>d.Name" />
            <PropertyColumn Property="d=>d.Category" />
            <PropertyColumn Property="d=>d.Description" />
            <TemplateColumn Context="d" Title="Image">
                @{
                    var base64Image = Convert.ToBase64String(d.DishImage);
                }
                <img class="DishPicture" src="data:image/png;base64,@base64Image" />
            </TemplateColumn>
        </QuickGrid>
        <Paginator Value="paginationDish" />
    </div>
    <button @onclick="ExportAccountsToCSV">Export To CSV</button>
    <hr />
    <div class="ingredientsDatabase">
        <QuickGrid Items="ingredients.AsQueryable()" Pagination="paginationIngredient">
            <PropertyColumn Property="i=>i.Ingredient_Id" />
            <PropertyColumn Property="i=>i.Name" />
            <PropertyColumn Property="i=>i.Category" />
            <PropertyColumn Property="i=>i.Description" />
            <PropertyColumn Property="i=>i.Callories" />
            <TemplateColumn Context="i" Title="Image">
                @{
                    var base64Image = Convert.ToBase64String(i.Image);
                }
                <img class="IngredientPicture" src="data:image/png;base64,@base64Image" />
            </TemplateColumn>
        </QuickGrid>
        <Paginator Value="paginationIngredient" />
    </div>
    <button @onclick="ExportAccountsToCSV">Export To CSV</button>
    <hr />
</div>
<div class="CSVData">
    <h1>Data In CSV File</h1>
    <div class="dishesCSV">
        <QuickGrid Items="listOfDishes.AsQueryable()" Pagination="paginationDishCSV">
            <PropertyColumn Property="d => d.Dish_Id" />
            <PropertyColumn Property="d => d.Name" />
            <PropertyColumn Property="d => d.Category" />
            <PropertyColumn Property="d => d.Description"/>
            <TemplateColumn Context="d" Title="Image">
                @{
                    var base64Image = Convert.ToBase64String(d.DishImage);
                }
                <img class="DishPicture" src="data:image/png;base64,@base64Image" />
            </TemplateColumn>
        </QuickGrid>
        <Paginator Value="paginationDishCSV" />
        <div class="file-upload-wrapper">
            <div class="upload-file">
                <input type="file" id="file-upload" @ref="inputFile" @onchange="LoadFile" accept=".csv" />
            </div>
            <button @onclick="InsertDishesToDatabase">Insert to database</button>
        </div>
    </div>
    <hr />
</div>

@code {

    ElementReference inputFile;

    List<Account> users = new List<Account>();
    List<Dish> dishes = new List<Dish>();
    List<Ingredient> ingredients = new List<Ingredient>();
    List<DishDTO> listOfDishes = new List<DishDTO>();

    private PaginationState paginationAccount = new PaginationState { ItemsPerPage = 5 };
    private PaginationState paginationDish = new PaginationState { ItemsPerPage = 5 };
    private PaginationState paginationDishCSV = new PaginationState { ItemsPerPage = 5 };
    private PaginationState paginationIngredient = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await Http.GetFromJsonAsync<List<Account>>("api/account");
            dishes = await Http.GetFromJsonAsync<List<Dish>>("api/dish");
            ingredients = await Http.GetFromJsonAsync<List<Ingredient>>("api/ingredient");
        }
        catch (Exception ex)
        {
            // Log or handle the exception appropriately
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    async Task LoadFile()
    {
        var fileInfo = await JSR.InvokeAsync<FileInfoModel>("readFileInfo", inputFile);
        var fileContent = await JSR.InvokeAsync<string>("readFileAsText", inputFile);

        // Przetwórz zawartość pliku
        ParseCsvDishDTO(fileContent);
    }

    async Task InsertDishesToDatabase()
    {
        try
        {
            for(int i = 0; i < listOfDishes.Count; i++)
            {
                var dish = listOfDishes[i];
                if (dish.Name == dishes[i].Name && dish.Description == dishes[i].Description && dish.Category == dishes[i].Category)
				{
					continue;
				}
				else
				{
                    var dishToInsert = new DishDTO2(dish.Name, dish.Description, dish.DishImage, dish.Category);

					await Http.PostAsJsonAsync("api/dish", dishToInsert);
				}
            }
		}
		catch (Exception ex)
		{
			// Log or handle the exception appropriately
			Console.WriteLine($"An error occurred: {ex.Message}");
		}
	}

    private void ParseCsvDishDTO(string csvData)
    {
        var rows = csvData.Split("\n");
        foreach (var row in rows) // Skip header
        {
            try
            {
                var columns = row.Split(";");
                if (columns.Length >= 5)
                {
                    int id = int.Parse(columns[0]);
                    string name = columns[1];
                    string description = columns[2];
                    string image = columns[3];
                    string category = columns[4];

                    var dishDTO = new DishDTO(id, name, description, image, category);
                    listOfDishes.Add(dishDTO);
                }
            }
            catch (Exception ex)
            {
                // Log or handle the exception for a specific row
                Console.WriteLine($"Error parsing CSV row: {ex.Message}");
            }
        }
    }

    private async Task ExportAccountsToCSV()
    {
        var csvData = new StringBuilder();
        csvData.AppendLine("User_Id;Username;Password;PictureData");
        foreach (var rekord in users)
        {
            csvData.AppendLine($"{rekord.User_Id};{rekord.Username};{rekord.Password};{Convert.ToBase64String(rekord.PictureData)}");
        }


        await JSR.InvokeAsync<object>("saveAsFile", "eksport_accounts.csv", Convert.ToBase64String(Encoding.UTF8.GetBytes(csvData.ToString())));
    }

}
