body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
   
}

.container {
    background-image: url('/images/tlo.jpg'); /* Leaf background image */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
    background-position: center;
}
/* Main Titles */
::deep .section-title {
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
    font-family: 'Quicksand-Semibold';
}

::deep .product-list, ::deep .ingredient-list {
    list-style-type: none;
    padding: 0;
}

/* Searchbars */
::deep .search-container {
    position: relative;
    display: inline-block;
}

::deep #search-igri {
    border-radius: 50px;
    border: 0;
    padding: 3px 10px;
    outline: none;
    width: 250px;
    height: 38px;
    font-family: 'Quicksand-Semibold';
    font-size: 13px;
    padding-left: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

::deep .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

/* Buttons */
::deep .search-button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Quicksand-Medium';
    font-size: 13px;
    margin-left: 10px;
    background: linear-gradient(120deg, #0f7909, #5DAB02);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s, transform 0.3s ease, box-shadow 0.3s ease;
}

    ::deep .search-button:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-position: 0 0;
    }

/* Lists */
::deep .list-back {
    width: 100%;
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
    background-color: rgba(26, 26, 26, 0.85); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Background blur */
    padding: 10px;
}

::deep .product-list {
    height: 100px;
    display: flex;
    align-items: center;
}

::deep .list-item {
    display: flex;
    height: 70px;
    width: auto;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 0 20px;
    background-color: white;
    position: relative;
    transition: transform 0.3s ease;
}

    ::deep .list-item:hover {
        transform: scale(1.1);
    }

::deep .checkmark-icon {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 25px;
    height: 25px;
    background-color: #80FF44;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

::deep .not-checkmark-icon {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 25px;
    height: 25px;
    background-color: #FF6464;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

::deep .list-item.selected {
    background-color: #5DAB02;
}

::deep .list-back::-webkit-scrollbar {
    width: 50px;
}

::deep .list-back::-webkit-scrollbar-thumb {
    background-color: #5DAB02;
    border-radius: 50px;
}

::deep .list-back::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Rounded Inputs */
::deep .form-control, ::deep .rounded-input {
    border-radius: 15px !important;
    border: 1px solid #ddd;
    padding: 6px;
}

/* Buttons */
::deep .custom-button {
    background: linear-gradient(120deg, #555, #999);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: #fff;
    border-radius: 15px;
}

    ::deep .custom-button:hover {
        background-position: 0 0;
    }

::deep .btn-success.custom-button {
    background: linear-gradient(120deg, #0f7909, #5DAB02);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: #fff;
    border: none;
    border-radius: 15px;
}

    ::deep .btn-success.custom-button:hover {
        background-position: 0 0;
    }

::deep .btn-secondary.custom-button {
    background: linear-gradient(120deg, #555, #999);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: #fff;
    border: none;
    border-radius: 15px;
}

    ::deep .btn-secondary.custom-button:hover {
        background-position: 0 0;
    }

/* Adjusting the form elements */
::deep .form-group {
    margin-bottom: 20px;
}

::deep .button-group {
    display: flex;
    gap: 10px;
}

::deep h3 {
    color: white;
}

::deep .avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
}

::deep .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

::deep .overlay-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    flex-direction: column;
}

::deep .avatar-container:hover .overlay-button {
    opacity: 1;
}

::deep .input-file {
    display: none; /* Hide the input file */
}

