@using ByteCuisine.Shared
@using ByteCuisine.Client.Services
@inject HttpClient Http
@inject UserStateService UserState

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class ="background-container">
    <div class="tlo-pudlo">
        <div class="tlo"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h2 class="section-title">Virtual Fridge</h2>

                <div class="list-back-fridge">
                    <ul class="product-list-fridge">
                        @foreach (var product in fridge)
                        {
                            var ingredient = ingredients.FirstOrDefault(i => i.Ingredient_Id == product.Ingredient_Id)?.Image;
                            <li class="product-fridge">
                                <img src="data:image/png;base64,@Convert.ToBase64String(ingredient)" />
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-md-6 d-flex flex-column align-items-center">
                <div class="search-section">
                    <h2 class="section-title">Search for ingredients</h2>
                    <div class="search-container">
                        <i class="material-icons search-icon">search</i>
                        <input type="text" id="search-igri" @bind="searchIngri" placeholder="Search for ingredients" />
                    </div>
                    <button class="search-button" @onclick="SearchIngri">Search</button>
                    <button class="search-button" @onclick="AddSelectedIngredients">Add Ingredients</button>
                    @* Lista składników *@

                    <div class="list-back">
                        <ul class="product-list">
                            @foreach (var ingri in products)
                            {
                                var ingredient = ingredients.FirstOrDefault(i => i.Ingredient_Id == ingri.Ingredient_Id);
                                if (ingredient != null)
                                {
                                    <li class="@GetItemClass(ingredient.Ingredient_Id)" @onclick="() => ToggleIngredientSelection(ingredient.Ingredient_Id)">
                                        <img src="data:image/png;base64,@Convert.ToBase64String(ingredient.Image)" alt="@ingredient.Name"/>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="search-section">
                    <h2 class="section-title">Search for recipes</h2>
                    <div class="search-container">
                        <i class="material-icons search-icon">search</i>
                        <input type="text" id="search-igri" @bind="searchRecipe" placeholder="Search for recipes" />
                    </div>
                    <button class="search-button" @onclick="SearchRecipe">Search</button>

                    @* Wyszukiwanie przepisów *@

                    <div class="list-back-pion">
                        <ul class="product-list-pion">
                            @foreach (var dish in dishes)
                            {
                                <li class="list-item-pion">
                                    <img width="48" height="48" src="data:image/png;base64,@Convert.ToBase64String(dish.DishImage)" alt="Dish" />
                                    @dish.Name
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="search-section">
                    <h2 class="section-title">What you need:</h2>
                    <div class="search-container">
                        <i class="material-icons search-icon">search</i>
                        <input type="text" id="search-igri" @bind="searchMissing" placeholder="Search for what you need" />
                    </div>
                    <button class="search-button" @onclick="SearchMissing">Search</button>
                    
                    @* Wyszukiwanie brakujących składników *@
                    
                    <div class="list-back">
                        <ul class="product-list">
                            @foreach (var product in products)
                            {
                                <li class="list-item">@product</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    @* Funkcje zaznaczania składników *@

    private string GetItemClass(int ingredientId)
    {
        return selectedIngredientIds.Contains(ingredientId) ? "list-item selected" : "list-item";
    }

    private HashSet<int> selectedIngredientIds = new HashSet<int>();

    private void ToggleIngredientSelection(int ingredientId)
    {
        if (!selectedIngredientIds.Add(ingredientId))
        {
            selectedIngredientIds.Remove(ingredientId);
        }
    }

    @* Dodawanie składników do wirtualnej lodówki *@

    private async Task AddSelectedIngredients()
    {
        var currentUser = UserState.CurrentUser;    // Zalogowany użytkownik

        foreach (var ingredientId in selectedIngredientIds)
        {
            var fridgeModel = new IngredientsInFridgeDTO 
            { 
                Ingredient_Id = ingredientId,
                VirtualFridge_Id = currentUser,
            };
            using var response = await Http.PostAsJsonAsync($"api/ingredientsInFridge/user/{currentUser}", fridgeModel);
            if (!response.IsSuccessStatusCode)
            {   
                // Wypisz wiadomość z błędem         
                var errorMessage = response.ReasonPhrase;         
                Console.WriteLine($"There was an error! {errorMessage}");         
                return;     
            }
        }
        // Wyczyszczenie listy zaznaczonych składników
        selectedIngredientIds.Clear();

        // Odświeżenie listy produktów w wirtualnej lodówce
        fridge = await Http.GetFromJsonAsync<List<IngredientsInFridge>>($"api/ingredientsInFridge/user/{currentUser}");
    }


    @* Ładowanie elementów z bazy *@

    private List<Ingredient> ingredients = new List<Ingredient>();
    private List<Ingredient> products = new List<Ingredient>();

    private List<Dish> dishes = new List<Dish>();
    private List<IngredientsInFridge> fridge = new List<IngredientsInFridge>();

    protected override async Task OnInitializedAsync()
    {
        ingredients = await Http.GetFromJsonAsync<List<Ingredient>>("api/ingredient");
        products = await Http.GetFromJsonAsync<List<Ingredient>>("api/ingredient");

        dishes = await Http.GetFromJsonAsync<List<Dish>>("api/dish");

        // Pobranie z bazy produktów wirtualnej lodówki
        int currentUser = UserState.CurrentUser;
        fridge = await Http.GetFromJsonAsync<List<IngredientsInFridge>>($"api/ingredientsInFridge/user/{currentUser}");
    }

    @* Wartości z pól wyszukiwania *@

    private string searchIngri;
    private string searchRecipe;
    private string searchMissing;

    @* Wyniki wyszukiwania *@

    private List<string> recipes = new List<string>();
    private List<string> missing_products = new List<string>();

    @* Funkcje wyszukujące kliknięciu przycisku *@

    private void SearchIngri()
    {
        // Wyszukiwanie składników

        products.Clear();

        if (string.IsNullOrEmpty(searchIngri))
        {
            products = ingredients;
        }
        else
        {
            foreach (var ingredient in ingredients)
            {
                if (ingredient.Description.Contains(searchIngri) || ingredient.Name.Contains(searchIngri))
                {
                    products.Add(ingredient);
                }
            }
        }

    }
    private void SearchRecipe()
    {
        return;
    }
    private void SearchMissing()
    {
        return;
    }
}
