<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class ="background-container">
    <div class="tlo-pudlo">
        <div class="tlo"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h2 class="section-title">Virtual Fridge</h2>
                
                @* Tutaj lista *@

                <div class="list-back">
                    <ul class="product-list">
						@foreach (var product in products)
						{
							<li>@product</li>
						}
					</ul>
                </div>
            </div>

            <div class="col-md-6 d-flex flex-column align-items-center">
                <div class="search-section">
                    <h2 class="section-title">Search for ingridients</h2>
                    <div class="search-container">
                        <i class="material-icons search-icon">search</i>
                        <input type="text" id="search-igri" @bind="searchRecipe" placeholder="Wyszukaj przepis" />
                    </div>
                    <button class="search-button" @onclick="Search">Add ingreadients</button>
                    
                    @* Tutaj lista *@

                    <div class="list-back">
                        <ul class="product-list">
                            @foreach (var product in products)
                            {
                                <li class="list-item">@product</li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="search-section">
                    <h2 class="section-title">Search for recipes</h2>
                    <div class="search-container">
                        <i class="material-icons search-icon">search</i>
                        <input type="text" id="search-igri" @bind="searchRecipe" placeholder="Wyszukaj przepis" />
                    </div>
                    <button class="search-button" @onclick="Search">Wyszukaj</button>

                    @* Tutaj lista *@

                    <div class="list-back-pion">
                        <ul class="product-list-pion">
                            @foreach (var product in products)
                            {
                                <li class="list-item-pion">@product</li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="search-section">
                    <h2 class="section-title">What you need:</h2>
                    <div class="search-container">
                        <i class="material-icons search-icon">search</i>
                        <input type="text" id="search-igri" @bind="searchRecipe" placeholder="Wyszukaj przepis" />
                    </div>
                    <button class="search-button" @onclick="Search">Wyszukaj</button>
                    
                    @* Tutaj lista *@
                    
                    <div class="list-back">
                        <ul class="product-list">
                            @foreach (var product in products)
                            {
                                <li class="list-item">@product</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private List<string> products = new List<string> { "PNG", "PNG", "PNG" };

    private string searchIngredient;
    private List<string> foundIngredients = new List<string>();

    private string searchRecipe;
    private List<string> requiredIngredients = new List<string>();

    private void Search()
    {
        // Implement your logic to search for ingredients based on the entered searchIngredient
        // Dummy logic for demonstration purposes
        foundIngredients.Clear();
        products.Add("PNG");
        products.Add("PNG");
        products.Add("PNG");
        products.Add("PNG");
        products.Add("PNG");
        products.Add("PNG");
        products.Add("PNG");
    }
}
