#container {
    width: 90vw;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
}

#top-section {
    display: flex;
    justify-content: space-between;
    height:450px;
}

#featured-recipe, #popular-chefs {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#featured-recipe {
    flex-grow: 2;
    margin-right: 20px;
}

#popular-chefs {
    flex-basis: 30%;
}

.chef {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.2em; /* Zwiększony rozmiar czcionki */
}

.carousel-container {
    position: relative;
    
}

.carousel {
    display: flex;
    justify-content: center; /* Dodane dla wyśrodkowania kart */
    align-items: center;
    scroll-behavior: smooth;
    padding: 20px 0;
}

.card {
    flex: 0 0 auto;
    width: 15%; /* Zmniejszona szerokość kart */
    height: 200px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

    /* Ostatnia karta nie powinna mieć prawego marginesu */
    .card:last-child {
        margin-right: 0;
    }


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 10;
}

    .carousel-button.left-button {
        left: 0;
    }

    .carousel-button.right-button {
        right: 0;
    }

h2 {
    font-size: 2em; /* Zwiększony rozmiar czcionki */
    color: #333;
    padding: 40px 0;
   
}
