<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div id="container">
    <div id="top-section">
        <div id="featured-recipe">
            <div id="recipe-details">
                <div id="user-profile">
                    <img src="/images/userimg.png" alt="Nick Patterson" id="user-image" />
                    <div id="user-name">Nick Patterson</div>
                </div>               
                <div id="recipe-info">
                    <h1>Spaghetti</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                    <p class="bold-text">Estimated calories: 157,7 kcal</p>
                    <div id="action-container">
                        <button id="check-recipe-btn">Check recipe</button>
                        <div id="rating">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star_half</span>
                        </div>
                    </div>



                </div>
            </div>
            <div id="recipe-image">
                <img src="/images/jedzenie.png" alt="Spaghetti" />
            </div>
        </div>


        <div id="popular-chefs">
            <div id="blur">
                <h1 id="popularchef">Popular chefs</h1>
                <div class="chef">
                    <img src="/images/userimg.png" alt="Nick Patterson" class="chef-image" />
                    Nick Patterson
                </div>
                <div class="chef">
                    <img src="ścieżka_do_zdjęcia_emma_highley.jpg" alt="Emma Highley" class="chef-image" />
                    Emma Highley
                </div>
                <div class="chef">
                    <img src="ścieżka_do_zdjęcia_tim_robertson.jpg" alt="Tim Robertson" class="chef-image" />
                    Tim Robertson
                </div>
            </div>

        </div>
    </div>

    <h2>Recommended recipes based on your preferences</h2>
    <div class="carousel-container">
        <button @onclick="PrzewinWLewo" class="carousel-button left-button">
            <span class="material-symbols-outlined">arrow_back_ios</span>
        </button>        
        <div class="carousel">
            <!-- Widoczne karty przepisów -->
            @foreach (var przepis in WidocznePrzepisy)
            {
                <div class="card">@przepis</div>
            }
        </div>
        <button @onclick="PrzewinWPrawo" class="carousel-button right-button">
            <span class="material-symbols-outlined">arrow_forward_ios</span>
        </button>

    </div>
</div>

@code {
    private List<string> WszystkiePrzepisy = new List<string>
    {
        "Stek", "Jedzenie Wegetariańskie", "Posiłek", "Stek", "Stek", "Stek", "Stek", "Stek"
    };
    private int aktualnyIndeks = 0;
    private int widocznaIlosc = 5;
    private List<string> WidocznePrzepisy => WszystkiePrzepisy
        .Skip(aktualnyIndeks)
        .Take(widocznaIlosc)
        .ToList();

    private void PrzewinWLewo()
    {
        if (aktualnyIndeks > 0)
        {
            aktualnyIndeks--;
        }
    }

    private void PrzewinWPrawo()
    {
        if (aktualnyIndeks < WszystkiePrzepisy.Count - widocznaIlosc)
        {
            aktualnyIndeks++;
        }
    }
}

