<div id="container">
    <header>
        <div id="hrow">
            <div id="window1">
                <!-- Treść okna 1 -->
                <h1>Okno 1</h1>
                <p>Zawartość okna 1</p>
            </div>
            <div id="window2">
                <!-- Treść okna 2 -->
                <h1>Okno 2</h1>
                <p>Zawartość okna 2</p>
            </div>
        </div>
    </header>
    <h2>Recommended recipes based on your preferences</h2>
    <main>
        <div class="carousel">
            <div class="card">
                <!-- Zawartość karty 1 -->
                <h2>Karta 1</h2>
                <p>Zawartość karty 1</p>
            </div>
            <div class="card">
                <!-- Zawartość karty 2 -->
                <h2>Karta 2</h2>
                <p>Zawartość karty 2</p>
            </div>
            <div class="card">
                <!-- Zawartość karty 3 -->
                <h2>Karta 3</h2>
                <p>Zawartość karty 3</p>
            </div>
            <div class="card">
                <!-- Zawartość karty 3 -->
                <h2>Karta 3</h2>
                <p>Zawartość karty 3</p>
            </div>
            <div class="card">
                <!-- Zawartość karty 3 -->
                <h2>Karta 3</h2>
                <p>Zawartość karty 3</p>
            </div>
            <!-- Dodaj kolejne karty według potrzeb -->
        </div>
    </main>
</div>

@code {

}
