#container {
    width: 90vw;
    margin: auto;
    padding: 20px;
    display: flex; /* Potrzebne, aby flex-direction miał wpływ */
    flex-direction: column;
    justify-content: space-around;
}

#top-section {
    display: flex;
    justify-content: space-between;
    max-height: 450px;
}

#featured-recipe, #popular-chefs {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

#featured-recipe {
    padding: 0px;
    display: flex; /* Flex jest używany tutaj do rozmieszczenia tekstu i obrazu */
    justify-content: space-between; /* Zapewnia odstęp między elementami */
    align-items: center; /* Centruje elementy wertykalnie */
    flex-direction: row; /* Elementy w jednym rzędzie zamiast kolumny */
    width: 100%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 59vw;
    border: 1px solid rgba(0, 0, 0, .125);
}

#popular-chefs {
    flex-basis: 30%;
    background-image: url("/images/tlo.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
}

#blur {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chef {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

    .chef:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        background-color: #f0f0f0;
    }



.crown-image {
    font-size: 24px;
    margin-right: 10px;
}

.gold-crown {
    color: gold;
    margin-right: 15px;
}

.silver-crown {
    color: silver;
    margin-right: 15px;
}

.bronze-crown {
    color: #cd7f32; /* Brązowy kolor */
    margin-right: 15px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    padding-bottom: 15px;
}

.card {
    flex: 0 0 auto;
    width: 280px; /* Zwiększenie rozmiaru karty */
    height: 310px; /* Zwiększenie rozmiaru karty */
    margin: 0 15px; /* Odstęp między kartami */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em; /* Zwiększenie wielkości czcionki */
    font-weight: bold;
    padding: 15px; /* Większe odstępy wewnętrzne */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:last-child {
        margin-right: 0;
    }

    .card:hover {
        transform: translateY(-5px); /* Podnosi kartę do góry */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Zwiększa cień przy najechaniu */
    }

    .card div {
        font-size: 1em; /* Zwiększenie wielkości czcionki dla tekstu */
        font-weight: normal; /* Normalna grubość czcionki */
        color: #555; /* Kolor tekstu */
        text-align: center; /* Wyśrodkowanie tekstu */
        margin-top: 10px; /* Większy odstęp górny między elementami tekstowymi */
    }

        .card div:first-child {
            font-size: 1.2em; /* Wielkość czcionki dla nazwy potrawy */
            font-weight: bold; /* Pogrubienie czcionki dla nazwy potrawy */
            color: #333; /* Kolor tekstu dla nazwy potrawy */
            margin-bottom: 10px; /* Odstęp dolny między nazwą potrawy a resztą tekstu */
        }

        .card div:last-child {
            color: #888; /* Szary kolor dla tekstu o składnikach */
            font-size: 0.9em; /* Większa wielkość czcionki dla tekstu o składnikach */
            font-weight: 300; /* Cieńsza czcionka */
            margin-top: 5px; /* Odstęp górny */
        }

h2 {
    font-size: 2em;
    color: #333;
    padding: 55px 0;
}

#recipe-text {
    padding-right: 20px;
}

#recipe-image {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding: 0; /* Usuń wszelkie wypełnienie */
    margin: 0; /* Usuń wszelkie marginesy */
}

    #recipe-image img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        border-radius: 10px;
        margin: 0; /* Usuń wszelkie marginesy */
    }

#recipe-details {
    display: flex;
    flex-direction: column;
    max-width: 50%; /* Aby tekst i obrazek użytkownika nie rozciągały się na całą szerokość */
    align-items: center;
    padding-left: 50px;
    padding-bottom: 20px;
}

#user-image {
    border-radius: 50%; /* Dla okrągłego zdjęcia */
    width: 80px; /* Przykładowa szerokość, dostosuj do swoich potrzeb */
    height: 80px; /* Przykładowa wysokość, dostosuj do swoich potrzeb */
}

#user-name {
    margin-top: 8px; /* Odstęp od góry, dostosuj do swoich potrzeb */
    font-size: 1.2em; /* Przykładowa wielkość czcionki, dostosuj do swoich potrzeb */
    margin-bottom: 15px; /* Odstęp od dolnych elementów */
}

#recipe-info {
    text-align: left;
}

    #recipe-info h1 {
        font-size: 2em; /* Wielkość czcionki dla tytułu */
        margin-bottom: 10px; /* Odstęp pomiędzy tytułem a opisem */
        text-align: center;
    }

    #recipe-info p {
        font-size: 1em; /* Wielkość czcionki dla paragrafów */
        margin-bottom: 5px; /* Odstęp pomiędzy paragrafami */
        margin-left: 20px;
    }

#check-recipe-btn {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Quicksand-Medium';
    font-size: 10px;
    margin: 20px;
    background: linear-gradient(120deg, #0f7909, #5DAB02);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 20px;
}

    #check-recipe-btn:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-position: 0 0;
    }

#rating {
    display: flex;
}

    #rating .fa {
        color: #FFD700; /* Ustawienie ciemnego złotego koloru dla gwiazdek */
        font-size: 20px;
    }

#action-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center ;
}

#user-profile {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wycentruje obraz i tekst w poziomie */
    margin: 20px 0px;
}

.bold-text {
    font-weight: bold; /* Pogrubienie tekstu dla tej klasy */
}

.chef-image {
    width: 50px; /* Dostosuj szerokość obrazu */
    height: 50px; /* Dostosuj wysokość obrazu */
    border-radius: 50%; /* Sprawia, że obrazy są okrągłe */
    margin-right: 10px; /* Odstęp między obrazem a tekstem */
}

#popularchef {
    color: white;
    text-align: center;
    font-family: 'Quicksand-Medium';
}

.dish-image {
    width: 150px; /* Zwiększenie rozmiaru obrazu */
    height: 150px; /* Zwiększenie rozmiaru obrazu */
    border-radius: 50%; /* Zaokrągla obraz */
    object-fit: cover; /* Dopasowuje obraz do elementu */
    margin-bottom: 15px; /* Większy odstęp między obrazem a tekstem */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease; /* Dodanie przejścia dla zmiany koloru */
}

    .carousel-button.left-button {
        left: 11rem; /* Zmniejszenie odstępu dla lewego przycisku */
    }

    .carousel-button.right-button {
        right: 10rem; /* Zmniejszenie odstępu dla prawego przycisku */
    }

    

@media (max-width: 600px) {
    #container {
        width: 100vw;
        padding: 5px;
    }

    #top-section {
        flex-direction: column;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    #featured-recipe, #popular-chefs {
        margin-right: 0;
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .chef, .card {
        margin-bottom: 10px;
    }

    .carousel-container, .carousel {
        overflow-x: auto;
    }

    .card {
        width: 50%;
        height: auto;
        margin: 10px;
        padding-bottom: 50%;
        box-sizing: border-box;
    }

    .carousel-button {
        display: none;
    }

    h2 {
        font-size: 1.2em;
        padding: 10px 0;
    }
}
.btn-success {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Quicksand-Medium';
    font-size: 15px;
    background: linear-gradient(120deg, #0f7909, #5DAB02);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s, transform 0.3s ease, box-shadow 0.3s ease;
}

    .btn-success:hover {
        transform: scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-position: 0 0;
    }