@using ByteCuisine.Client.Services
@inject UserStateService UserState
@inject NavigationManager Navigation

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div>
    <!-- Struktura paska nawigacyjnego -->
    <div class="navbar">
        <div class="material-symbols-outlined" @onclick="ToggleMenu">
            @if (isMenuOpen)
            {
                <span>close</span> <!-- Ikona 'x' gdy menu jest otwarte -->
            }
            else
            {
                <span>menu</span> <!-- Ikona menu gdy jest zamknięte -->
            }
        </div>
        <div class="logo">
            <img src="/images/Logo+Napis.png" />
        </div>
        <input type="text" class="search-box" placeholder="Search">
        <div class="nav-icons">
            <NavLink @onclick="Logout">
                <button class="logout-button">Logout</button>
            </NavLink>
        </div>
    </div>
<div @onclick="HandleGlobalClick">
    <div class="side-menu" style="@(isMenuOpen ? "left:0" : "left:-250px")">
        <NavLink href="/index">
            <div class="menu-item">
                <span class="material-symbols-outlined">home</span>
                <span class="menu-text">Home</span>
            </div>
        </NavLink>
        <NavLink href="/fridge">
            <div class="menu-item">
                <span class="material-symbols-outlined">kitchen</span>
                <span class="menu-text">Fridge</span>
            </div>
        </NavLink>
        @if (UserState.CurrentUserType == "Admin")
		{
			<NavLink href="/admin">
				<div class="menu-item">
					<span class="material-symbols-outlined">admin_panel_settings</span>
					<span class="menu-text">Admin</span>
				</div>
			</NavLink>
		}
        <div class="menu-item">
            <span class="material-symbols-outlined">calendar_month</span>
            <span class="menu-text">Calendar</span>
        </div>
        @if (UserState.CurrentUserType == "Admin")
        {
            <NavLink href="/stats">
                    <div class="menu-item">
                        <span class="material-symbols-outlined">finance</span>
                        <span class="menu-text">Statistics</span>
                    </div>
            </NavLink>
        }       
        <div class="menu-item">
            <span class="material-symbols-outlined">notifications</span>
            <span class="menu-text">Notifications</span>
        </div>
        <div class="menu-footer">
                <NavLink @onclick="() => NavigateToSettings(UserState.CurrentUser)">
                <div class="menu-item">
                    <span class="material-symbols-outlined">settings</span>
                    <span class="menu-text">Settings</span>
                </div>
            </NavLink>
            <NavLink href="/userpanel">
                <div class="menu-item">
                    <span class="material-symbols-outlined">account_circle</span>
                    <span class="menu-text">User</span>
                </div>
            </NavLink>
        </div>
    </div> <!-- Zamknięcie side-menu -->
</div> <!-- Zamknięcie zewnętrznego diva -->
</div>
@code {
    private bool isMenuOpen = false;

    private void NavigateToSettings(int settings_id)
    {
        Navigation.NavigateTo($"/settingspage/{settings_id}");
    }

    void Logout()
	{
		UserState.Logout();
		Navigation.NavigateTo("/");
	}

    void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    void CloseMenu()
    {
        if (isMenuOpen)
        {
            isMenuOpen = false;
        }
    }

    void HandleGlobalClick()
    {
        CloseMenu();
    }
}

