/*Css dla Navigationbar

      /* Style dla paska nawigacji */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Rozstawia elementy na obu końcach kontenera */
    background-color: #fff;
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.logo img {
    height: 50px; /* Zmniejszona wysokość logo */
}

/* Klasa dla lewego kontenera, który zawiera logo i przycisk menu */
.left-content {
    display: flex;
    align-items: center;
}

/* Klasa dla prawego kontenera, który zawiera pole wyszukiwania i ikony */
.right-content {
    display: flex;
    align-items: center;
}

.search-box {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 3px 10px;
    outline: none;
    width: 180px; /* Dostosowana szerokość */
}

.nav-icons .icon-link {
    margin-right: 10px;
    font-size: 18px;
}

.logout-button {
    margin-right: 0px;
    background-color: #5DAB02;
    border: none;
    color: white;
    padding: 6px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
}


.logo {
    /* Dla pewności, że logo będzie po lewej stronie */
    margin-right: auto; /* Powoduje, że wszystkie elementy po prawej stronie zostaną przesunięte na sam koniec kontenera flex */
}

/* ... reszta stylów ... */

.search-box {
    margin-right: 20px;
    margin-left: auto; /* Powoduje, że pole wyszukiwania zostanie przesunięte na sam koniec kontenera flex */
    /* ... */
}

.side-menu {
    position: fixed;
    top: 60px; /* Wysokość paska nawigacyjnego */
    left: -250px; /* Początkowe położenie poza widokiem */
    width: 250px;
    height: calc(100vh - 60px); /* Dostosowanie wysokości, aby uwzględnić pasek nawigacyjny */
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto; /* Umożliwia przewijanie, jeśli zawartość jest za długa */
    transition: left 0.5s; /* Animacja dla właściwości left */
    z-index: 999; /* Upewniamy się, że menu jest nad innymi elementami */
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.5); /* Dodaje cień po prawej stronie menu */

}

    .side-menu a {
        padding: 15px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: color 0.3s;
    }

        .side-menu a:hover {
            color: #f1f1f1;
        }

.side-menu-overlay {
    position: fixed;
    top: 44px; /* Wysokość paska nawigacyjnego */
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Wysokość overlayu pomniejszona o wysokość paska nawigacyjnego */
    background-color: transparent;
    z-index: 500; /* Z-index niższy niż menu, ale wyższy niż inne elementy */
}


.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    transition: background-color 0.3s;
    cursor: pointer; /* Dodaj wskaźnik, aby użytkownik wiedział, że może kliknąć */
    text-decoration: none;
    color: black;
}



    .menu-item.active, .menu-item:hover {
        background-color: #50ac3b; /* Kolor tła aktywnego elementu */

    }


.icon-placeholder {
    margin-right: 20px; /* Odstęp między ikoną a tekstem */
    /* Dodaj style dla ikon, np. używając Font Awesome */
}

.menu-text::after {
    /* Style dla tekstu w menu */
    text-decoration: none;
}


.menu-footer .menu-item {
    display: flex;
    align-items: center;
    width: 100%; /* Rozciąga elementy menu na całą szerokość */
    padding: 15px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 20px;
}

    .menu-footer .menu-item:hover {
        margin-right: 20px;
        background-color: #50ac3b; /* Podświetlenie tła na hover */
    }


.menu-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* To sprawi, że dzieci będą rozciągać się, aby wypełnić dostępną przestrzeń */
    width: 100%; /* Upewnij się, że .menu-footer rozciąga się na całą szerokość */
    padding: 0; /* Usuwamy padding z .menu-footer, aby .menu-item mógł wypełnić przestrzeń */
    margin-bottom: 0;
    margin-right: 20px;
}

    .menu-item,
    .menu-footer .menu-item {
        box-sizing: border-box; /* Zapewnia, że padding i border są wliczane w szerokość i wysokość */
        
    }
.material-symbols-outlined {
    margin-right: 20px;
    cursor: pointer;
}


::deep a{
    text-decoration:none;
}