@page "/Navigation";

<link rel="stylesheet" href="/css/navi.css" />

<div>
    <!-- Struktura paska nawigacyjnego -->
    <div class="navbar">
        <button class="menu-button">☰</button>
        <div class="logo">
            <img src="/images/Logo+Napis.png" />
        </div>
        <input type="text" class="search-box" placeholder="Search">
        <div class="nav-icons">
            <NavLink class="icon-link" href="/profile">
                <i class="profile-icon"></i>
            </NavLink>
            <button class="logout-button">Logout</button>
        </div>
    </div>
</div>


@code {

}


