<div class="container-fluid tlo">
<div class="recipe-container">
    <div class="recipe-header">
        <div class="left">
            <h1>LOREM IPSUM LOREM LOREM</h1>
            <p>adigoaibgoqiebgoiqbegoibqeoigbqoiebgoiqegb</p>
            <button class="search-button">cos</button>
            <button class="search-button">cos</button>
        </div>
        <div class="right">
            <div class="recipe-image">
                <img src="/images/xx.png" alt="Recipe Image">
            </div>
        </div>
    </div>
</div>

<div class="recipe-container">
    <div class="recipe-body">
        <div class="preparation">
            <h2>Sposób przygotowania:</h2>
            <p>Newy rok to świetny pretekst do eksperymentów w kuchni...</p>
        </div>
        <div class="ingredients">
            <h2>Składniki:</h2>
            <p>Newy rok to świetny pretekst do eksperymentów w kuchni...</p>
            <ul>
                <li>aadgad</li>
                <li>aadgad</li>
                <li>aadgad</li>
                <li>aadgad</li>
                <li>aadgad</li>
            </ul>
        </div>
    </div>
</div>
</div>
@code {
	[Parameter]
	public string RecipeId { get; set; }
}
