.formularz {
    margin-top: 20px;
    width: 50%;
    padding: 10px 10px 0px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.kont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.change-button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Quicksand-Medium';
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    background: linear-gradient(120deg, #0f7909, #5DAB02);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s, transform 0.3s ease, box-shadow 0.3s ease;
}

    .change-button:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-position: 0 0;
    }

.alert-with-margin {
    margin-top: 15px; /* Możesz dostosować wielkość marginesu według potrzeb */
    margin-bottom: 15px;
}