@inject IJSRuntime JSRuntime

<div class="custom-chart-size">
    <canvas width="1000" height="775" id="@Id"></canvas>
</div>


<style>
.custom-chart-size {
        margin: auto;
        height: 775px !important;
        max-width: 1000px !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
	}
</style>

@code {
    public enum ChartType
    {
        Pie,
        Bar
    }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public ChartType Type { get; set; }

    [Parameter]
    public int[] Data { get; set; }

    [Parameter]
    public string[] BackgroundColor { get; set; }

    [Parameter]
    public string[] Labels { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var config = new
        {
            Type = Type.ToString().ToLower(),
            Options = new
            {
                // Opcje konfiguracji...
                Responsive = true,
            },
            Data = new
            {
                Datasets = new[]
                {
            new
            {
                Label = "Ilość rekordów dla tabeli",
                Data = Data,
                BackgroundColor = BackgroundColor
            }
    },
                Labels = Labels
            }
        };
        await JSRuntime.InvokeVoidAsync("destroyChart", Id);

        await JSRuntime.InvokeVoidAsync("setup", Id, config);
    }
}
